{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-9 col-lg-9">
				<div class="row mb-4">
					<div class="col-md-2 fst-italic">
						{{ pack.name }}
					</div>
				</div>{% set picture = pagination|first %}
				<a href="{{ path('view_picture', {picture: picture.id}) }}" target="_blank">
					<img src="{{ path('view_picture', {picture: picture.id}) }}" alt="{{ pack.name }}" class="fit-container" />
				</a>
				{# display navigation #}
				<div class="navigation d-flex justify-content-center mt-3">
					{{ knp_pagination_render(pagination) }}
				</div>
			</div>
			<div class="col-sm-12 col-md-3 col-lg-3 border rounded p-3">
				<div class="row">
					<p class="fst-italic">{{ pack.name }}</p>
					<p class="fst-italic">{{ picture.width }}&nbsp;x&nbsp;{{ picture.height }}</p>
					<p><span class="fst-italic">Views: </span>{{ picture.views }}</p>
					<p><span class="fst-italic">Creator: </span>{{ pack.creator.username }}</p>
					<p><a href="{{ path('view_picture', {picture: picture.id}) }}" download="{{ picture.name }}" class="btn btn-primary">Download</a></p>
				</div>
			</div>
	</div>
{% endblock %}

{% block breadcrumb %}
	<div class="breadcrumb">
		<a href="{{ path('homepage') }}">{% trans %}routes.home{% endtrans %}</a>
		&nbsp;&gt;&nbsp;
		<a href="{{ path('pack_show', {id: pack.id}) }}">{{ pack.name }}</a>
	</div>
{% endblock %}
