{% extends 'base.html.twig' %}

{% block title %}{% trans %}login.title{% endtrans %}{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="mb-3">
			You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% endif %}

	<div class="d-flex container h-100 justify-content-center">
		<div class="d-flex justify-content-center align-middle h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="{{ asset('/images/icon.png') }}" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center flex-column form_container">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					<form method="post">
						<div class="input-group mb-3">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
							<input
									type="text"
									class="form-control"
									aria-label="Username"
									name="username"
									value="{{ last_username }}"
									placeholder="{% trans %}global.username{% endtrans %}"
							>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
							<input
									type="password"
									class="form-control"
									aria-label="Password"
									name="password"
									value=""
									placeholder="{% trans %}global.password{% endtrans %}"
							>
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline" name="_remember_me">
								<label class="custom-control-label" for="customControlInline">{% trans %}login.remember{% endtrans %}</label>
							</div>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"
						>
						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="submit" class="btn login_btn">{% trans %}login.login{% endtrans %}</button>
						</div>
					</form>
				</div>

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						{% trans %}login.no_account{% endtrans%}&nbsp;&nbsp;<a href="#" class="ml-2">{% trans %}login.signup{% endtrans %}</a>
					</div>
					{#<div class="d-flex justify-content-center links">
						<a href="#">Forgot your password?</a>
					</div>#}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('login') }}
{% endblock %}
