{% extends 'base.html.twig' %}

{% block title %}{% trans %}register.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="d-flex container h-100 justify-content-center">
        <div class="d-flex justify-content-center flex-column align-middle h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="{{ asset('/images/icon.png') }}" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    {% form_theme registrationForm 'bootstrap_base_layout.html.twig' %}
                    {{ form_start(registrationForm) }}
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                            {{ form_widget(registrationForm.username, { 'attr': {'class':'form-control input_user', 'placeholder':'global.username'}}) }}
                            <span class="invalid-feedback">
                                {{ form_errors(registrationForm.username) }}
                            </span>
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                            {{ form_widget(registrationForm.plainPassword, { 'attr': {'class':'form-control input_pass', 'placeholder':'global.password'}}) }}
                            <span class="invalid-feedback">
                                {{ form_errors(registrationForm.plainPassword) }}
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox form-control">
                                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class':'custom-control-input', 'required':'required'}}) }}
                                <label class="custom-control-label" for="registration_form_agreeTerms"><a href="{{ path('terms_and_conditions') }}">{% trans %}register.terms{% endtrans %}</a></label>
                                <span class="invalid-feedback">
                                    {{ form_errors(registrationForm.agreeTerms) }}
                                </span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" name="button" class="btn login_btn">{% trans %}register.register{% endtrans %}</button>
                        </div>
                    {{ form_end(registrationForm) }}
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        {% trans %}register.account{% endtrans %} <a href="{{ path('app_login') }}" class="ml-2">{% trans %}login.login{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('login') }}
{% endblock %}
