{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="page-container d-flex">
            <h1>{% trans %}pack.plural.name{% endtrans %}</h1>
            <div class="count mb-2">
                {% trans %}pack.total{% endtrans %}:&nbsp;{{ packs.getTotalItemCount }}
            </div>

            {% if is_granted('ROLE_USER') %}
            <div class="button-margin mt-4 mb-3">
                <a class="btn btn-bg btn-primary" href="{{ path('pack_new') }}">{% trans %}pack.create{% endtrans %}</a>
            </div>
            {% endif %}

            <section class="d-flex flex-wrap">
                {% for pack in packs %}
                    <figure class="thumb">
                        <a href="{{ path('pack_show', {id: pack.id}) }}">
                            <img
                                    src="{{ path('view_thumbnail_picture', {'picture': (pack.pictures|first).id}) }}"
                                    alt="{{ pack.name }}"
                            />
                        </a>
                        <figcaption>{{ pack.name }}</figcaption>
                    </figure>
                {% endfor %}
            </section>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(packs) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style>
    #wrapper {
        width: 100vw;
        height: 100%;
    }
    .page-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>
{% endblock %}
