{% extends 'base.html.twig' %}

{% block body %}
    <h3>{% trans %}pack.delete.title{% endtrans %} <i>{{ pack.name }}</i></h3>
    <p>{% trans %}pack.delete.question{% endtrans %} «{{ pack.name }}».</p>
    <p>{% trans %}global.delete.confirm{% endtrans %}</p>
    {{ form_start(form) }}
    <input type="submit" class="btn btn-bg btn-danger" value="{% trans %}global.delete.text{% endtrans %}" />
    <a href="{{ path('admin_dashboard') }}" class="form-button btn btn-bg btn-success">{% trans %}global.delete.cancel{% endtrans %}</a>
    {{ form_end(form) }}
{% endblock %}
