{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}pack.plural.name{% endtrans %}</h1>
    <div class="count mb-2">
        {% trans %}pack.total{% endtrans %}:&nbsp;{{ packs.getTotalItemCount }}
    </div>

    <div class="button-margin">
        <a class="btn btn-bg btn-primary" href="{{ path('pack_new') }}">{% trans %}pack.create{% endtrans %}</a>
    </div>

    <section class="d-flex flex-wrap">
    {% for pack in packs %}
        <div class="card mr-3 mb-3 d-inline-flex" style="width: 12rem;">
            <a href="{{ path('pack_show', {id: pack.id}) }}">
                <img src="{{ path('view_thumbnail_picture', {'picture': (pack.pictures|first).id}) }}" class="card-img-top" alt="{{ pack.name }}">
            </a>
            <div class="card-body">
                <p class="card-text"><a href="{{ path('pack_show', {id: pack.id}) }}">{{ pack.name }}</a></p>
            </div>
        </div>
    {% endfor %}
    </section>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(packs) }}
    </div>
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ path('homepage') }}">{% trans %}routes.home{% endtrans %}</a>
        &nbsp;&gt;&nbsp;
        {% trans %}pack.plural.name{% endtrans %}
    </div>
{% endblock %}
