{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}pack.create{% endtrans %}</h1>

    {% if is_granted("ROLE_ADMIN") %}
        <div class="spacing">
            <a href="{{ path('ftp_pack_list') }}" class="btn btn-primary">By FTP</a>
        </div>
    {% endif %}

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-lg btn-success float-right" type="submit" value="{% trans %}pack.form.create{% endtrans %}"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
    <a href="{{ path('homepage') }}">{% trans %}routes.home{% endtrans %}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ path('pack_index') }}">{% trans %}pack.plural.name{% endtrans %}</a>
</div>
{% endblock %}
