{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}pack.create{% endtrans %}</h1>

    {% if is_granted("ROLE_ADMIN") %}
        <div class="mb-3">
            <a href="{{ path('ftp_pack_list') }}" class="btn btn-primary">By FTP</a>
        </div>
    {% endif %}

    <div class="card mb-5">
        <div class="card-body">
            {{ form_widget(form) }}
            <div class="dropzone" id="dropzone">
                <div class="dz-message" data-dz-message>Text you want in the drop area</div>
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </div>
            <input class="btn btn-lg btn-success float-right" type="submit" value="{% trans %}pack.form.create{% endtrans %}"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
    <a href="{{ path('homepage') }}">{% trans %}routes.home{% endtrans %}</a>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('upload') }}
{% endblock %}
