{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h1">{{ pack.name }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9">
                <div class="row mb-4">
                    <div class="col-md-2 fst-italic">
                        {{ pack.pictures|length }}&nbsp;{% trans %}pictures.pictures{% endtrans %}
                    </div>
                    <div class="col-md-2 offset-md-8">
                        <a href="{{ path('pack_view_pictures', {id: pack.id}) }}" class="btn btn-primary">{% trans %}pictures.slideshow{% endtrans %}</a>
                    </div>
                </div>
                <section class="d-flex flex-wrap">
                    {% for picture in pack.pictures %}
                        <figure class="thumb">
                            <a href="{{ path('pack_view_single_picture', {'pack': pack.id, 'page': loop.index}) }}">
                                <img
                                        src="{{ path('view_thumbnail_picture', {'picture': (picture.id)}) }}"
                                        alt="{{ pack.name }}"
                                />
                            </a>
                        </figure>
                    {% endfor %}
                </section>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-3 border rounded p-3">
                        <p><span class="fst-italic">{% trans %}pictures.author{% endtrans %}</span>: {{ pack.creator.username }}</p>
                        <p><span class="fst-italic">{% trans %}pictures.created{% endtrans %}</span>: {{ pack.created|date('Y-m-d H:i:s') }}</p>
                        <p><span class="fst-italic">{% trans %}pictures.count{% endtrans %}</span>: {{ pack.pictures|length }}</p>
                        <p><span class="fst-italic">{% trans %}pictures.views{% endtrans %}</span>: {{ pack.views }}</p>
                    </div>
                </div>
                {% if pack.creator == app.user %}
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 border rounded p-3">
                        <a href="{{ path('pack_edit', { 'id': pack.id }) }}" class="btn btn-info mb-2">
                            <i class="far fa-edit"></i>
                            {% trans %}global.edit{% endtrans %}
                        </a>
                        {{ form_start(delete_form) }}
                        <input type="submit" class="btn btn-danger" value="{% trans %}global.delete.delete{% endtrans %}">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ path('homepage') }}">{% trans %}routes.home{% endtrans %}</a>
    </div>
{% endblock %}
