{% extends 'base.html.twig' %}

{% block body %}
    <h1>Packs list</h1>

    <div class="button-margin">
        <a class="btn btn-bg btn-primary" href="{{ path('pack_new') }}">Create a new pack</a>
    </div>

    <table class="table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Author</th>
                <th>Number of pictures</th>
                <th>View</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pack in packs %}
            <tr>
                <td><a href="{{ path('pack_show', { 'id': pack.id }) }}">{{ pack.id }}</a></td>
                <td>{{ pack.name }}</td>
                <td>{% if pack.created %}{{ pack.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pack.updated %}{{ pack.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ pack.creator.username }}</td>
                <td>{{ pack.pictures|length }}</td>
                <td><a class="btn btn-bg" href="{{ path('pack_view_pictures', {'id': pack.id}) }}"><i class="glyphicon glyphicon-picture"></i>Pictures</a></td>
                <td>
                    {% if pack.status == 1 %}
                        <i class="glyphicon glyphicon-check"></i>
                    {% elseif pack.status == 2 %}
                        <i class="glyphicon glyphicon-warning-sign"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-exclamation-sign"></i>
                    {% endif %}
                </td>
                <td>
                    <ul class="no-bullets">
                        {% if pack.status == 2 %}
                            <li>
                                <a href="{{ path('pack_pre_show', { 'id': pack.id }) }}"><i class="glyphicon glyphicon-eye-open"></i>Validate</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('pack_show', { 'id': pack.id }) }}"><i class="glyphicon glyphicon-search"></i>Show</a>
                        </li>
                        <li>
                            <a href="{{ path('pack_edit', { 'id': pack.id }) }}"><i class="glyphicon glyphicon-pencil"></i>Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
