{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your Pack: {{ pack.name }}</h1>

    {% if pack.status == 4 %}
        <div class="alert alert-danger">Pack cannot be submitted due to critical errors</div>
    {% elseif pack.status == 3 %}
        <div class="alert alert-warning">Pack can be submitted but has warnings</div>
    {% else %}
        <div class="alert alert-info">Pack is valid</div>
    {% endif %}

    <h3>File list:</h3>

    {{ form_start(form) }}
    <div class="form_checkbox">
        {% for choice in form.children.files.children %}
            <div class="{{ choice.vars.attr.class }}">
                {{ form_widget(choice) }}
                {{ form_label(choice) }}
            </div>
        {% endfor %}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
