{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your Pack: {{ pack.name }}</h1>

    <h3>File list:</h3>
    {#{% for file in files %}
        <p class="{{ file.status }}"><i>{{ file.name }}</i> : {{ file.message }}</p>
    {% endfor %}#}

    {% form_theme form _self %}
    {{ form_start(form) }}
    {% block choice_widget %}
        <div class="form_checkbox">
            {#{{  form_row(form) }}#}
            {{ form_widget(form) }}
        </div>
        {% endblock %}
    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
