<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site_name }} {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!--PhotoSwipe-->
    <link rel="stylesheet" type="text/css" href="{{ asset('PS/photoswipe.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('PS/default-skin/default-skin.css') }}">
    <script src="{{ asset('PS/photoswipe.min.js') }}"></script>
    <script src="{{ asset('PS/photoswipe-ui-default.min.js') }}"></script>
    <script async defer src="https://kit.fontawesome.com/a32969d67a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('homepage') }}">{{ site_name }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if is_granted("ROLE_USER") %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('pack_new') }}">{% trans %}pack.submit{% endtrans %}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTags" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans %}tags.name{% endtrans %}
                            </a>
                            {{ render(controller('App\\Controller\\TagController::tagListAction')) }}
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('picture_tag') }}">{% trans %}tags.add{% endtrans %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('pictures_random') }}">{% trans %}pictures.random{% endtrans %}</a></li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if not is_granted("ROLE_USER") %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">{% trans %}login.title{% endtrans %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">{% trans %}register.title{% endtrans %}</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('my_account') }}">{% trans %}account.my{% endtrans %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">{% trans %}global.logout{% endtrans %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Breadcrumb -->
{% block breadcrumb %}
{% endblock %}
<!-- Flashbags -->
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
<!-- End flashbags -->
<section id="container">
    {% block body %}{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</section>
</body>
</html>
