<ul class="dropdown-menu" aria-labelledby="navbarDropdownTags">
        <li><a class="nav-link dropdown-item" href="{{ path('tag_index') }}">{% trans %}tags.view{% endtrans %}</a></li>
        {% if is_granted("ROLE_ADMIN") %}
                <li><a class="nav-link dropdown-item" href="{{ path('tag_new') }}">{% trans %}tags.create{% endtrans %}</a></li>
        {% endif %}
    {% for tag in tags %}
            <li><a class="dropdown-item" href="{{ path('tag_pictures', {'id':tag.id}) }}">
                    {% if app.user %}
                        {{ tag.translation(app.user.language).name }}
                    {% else %}
                        {{ tag.translation('en').name }}
                    {% endif %}
                </a></li>
    {% endfor %}
</ul>
