{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tag edit</h1>

    <div class="button-margin">
        <a href="{{ path('tag_index') }}" class="btn btn-bg btn-primary">Back to the list</a>
    </div>

    <div class="form-float">
        {{ form_start(edit_form) }}
        <h3>Edit</h3>
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Edit" />
        {{ form_end(edit_form) }}
    </div>

    <div class="form-float">
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

{% endblock %}
