{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tag list</h1>

    {% if is_granted("ROLE_ADMIN") %}
    <div class="mb-3">
        <a class="btn btn-bg btn-primary" href="{{ path('tag_new') }}">Create a new tag</a>
    </div>
    {% endif %}

    {% for tag in tags %}
        <h4 class="d-inline">
            <a href="#" class="btn btn-outline-secondary">
                {% if app.user %}
                    {{ tag.translation(app.user.language).name }}
                {% else %}
                    {{ tag.translation('en').name }}
                {% endif %}
            </a>
            {% if is_granted("ROLE_ADMIN") %}
                <a class="btn btn-primary" href="{{ path('tag_edit', {id: tag.id}) }}"><i class="far fa-edit"></i></a>
            {% endif %}
        </h4>
    {% else %}
        <span>No tags available</span>
    {% endfor %}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ path('homepage') }}">{% trans %}routes.home{% endtrans %}</a>
        &nbsp;&gt;&nbsp;
        {% trans %}tags.name{% endtrans %}
    </div>
{% endblock %}
