{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tag creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ path('homepage') }}">{% trans %}routes.home{% endtrans %}</a>
        &nbsp;&gt;&nbsp;
        <a href="{{ path('tag_index') }}">{% trans %}tags.name{% endtrans %}</a>
    </div>
{% endblock %}
